@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
}

.dlogin {
  width: 500px;
  margin-top: 250px;
  margin-left: 700px;
}

.dloginfield {
  font-size: 25px;
  margin-bottom: 15px;
}